@charset "UTF-8";

@import "base/normalize.css";
@import "settings/variables.css";
@import "components/menu.css";

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100..900&display=swap');
:root {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F5F5F5;
}

/** Accessibilité*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.gras {
    text-transform: uppercase;
}

.logo {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-size: 1.8em;
    letter-spacing: 0.15em;
}

.header {
    display:flex;
    color: white;
    align-items: center;
    padding: .4em;
    justify-content: space-between;
    background-color: black;
    
}

button {
    margin:0;
}

.barre_recherche-champ {
    background-color: black;
    border-radius: 20px;
    padding: .5em 1em .5em;
    background: transparent;
    border: none;
    
}

.barre_recherche-bouton:focus-visible {
    outline: 3px solid #0056b3;
    outline-offset: -1px;
}

.barre_recherche-bouton {
    background: transparent;
    border: none;
    font-size: 1rem;
    margin:0;
    color: #656D7A;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-weight: bold;
}

.barre_recherche-bouton:hover {
    background-color: #ffffff;
    border-color: #000000;
}

.barre_recherche {
    background-color:#1A1A1A;
    border-radius: 40px;
    display:flex;
    
}

.bouton_panier {
    background: transparent;
    border: none;
    justify-content: unset;
    margin-left: 1em;
}

.recherche {
    display: flex;

}

.contenu {
    margin: 2em 3em 0em;
}

.fil-dariane {
    list-style: none;
    display: flex;
    text-decoration: none;
    color: #656D7A;
    align-items: center;
    padding-left:0;
    margin-right: .6em;
}

.titre {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 900;
    font-size: 4.3em;
    margin-top:0;
    margin-bottom:0;
}

.texte {
    color: #656D7A;
    font-weight: 500;
}

.categories__list {
    list-style: none;
    display: flex;
    text-decoration: none;
    padding-left:0;
}

.categorie {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: .6em 1.4em .6em;
    margin-right: .5em;
    background-color: white;
    color: black;
}
.categorie:hover {
    background-color: black;
    color:white
}

.categorie:active {
    background-color: black;
    color:white
}

.categorie:focus {
    background-color: black;
    color:white
}

.barre_trie {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    
}

.fieldset {
    border: none;
}

.filtre {
    background: transparent;
    border: none;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.16em;
}


.filtre_image {
    width: 1em;
    margin-right: .5em;
}

.liste-deroulante {
    padding: .6em 1.4em .6em;
    margin-left: .7em;
    border-color: #e1e3e7;
}

.liste-deroulante {
    padding-top: .5em;
}


      .is-hidden {
        display: none;
      }

      /* Style des deux listes */
      .filter-list {
        list-style: none;
        padding: 0;
        margin: 0 0 20px 0;
      }

      .filter-list li {
        margin: 8px 0;
      }

      .section-title {
        font-weight: bold;
        font-size: 1.1em;
      }

      .list-option {
        padding-left: 15px;
      }

      button {
        cursor: pointer;
      }

.sous-contenu {
    display: grid;
    grid-template-columns: 250px 1fr; /* Filtres à 250px, produits prennent le reste */
    gap: 30px;                       /* Espace entre les filtres et les produits */
    padding: 20px;
}

.filter-form {
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
}

.Chaussures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;  
}

.nouveau {
    background-color: #000000;
    color:white;
    font-family: "Barlow", sans-serif;
    font-size: 1em;
    font-weight: 600;
    font-style: normal;
    padding: 9px 10px; 
    display: inline-block;
}

.carte-chaussure {
  flex: 1;
  min-width:fit-content; 
  background-color: white;
}


.carte-chaussure_categorie {
    color: #40AADA;
    font-family: "Barlow", sans-serif;
    font-size: 1em;
    font-weight: 500;
    font-style: normal;
}

.carte-chaussure_categorie, .nom-chaussure, .nombre-couleurs, .prix-chaussure {
    padding:em;
}
