@charset "UTF-8";

@import "base/normalize.css";
@import "settings/variables.css";
@import "components/menu.css";

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100..900&display=swap');
:root {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F5F5F5;
}

/** Accessibilité*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.gras {
    text-transform: uppercase;
}

.logo {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-size: 1.8em;
    letter-spacing: 0.15em;
}

.header {
    display:flex;
    color: white;
    align-items: center;
    padding: .4em;
    justify-content: space-between;
    background-color: black;
}

.barre_recherche-champ {
    background-color: black;
    border-radius: 20px;
    padding: .5em 1em .5em;
    background: transparent;
    border: none;
    
}

.barre_recherche-bouton {
    background: transparent;
    border: none;
    padding-right: 1em;
}

.barre_recherche {
    background-color:#1A1A1A;
    border-radius: 20px;
}

.bouton_panier {
    background: transparent;
    border: none;
    justify-content: unset;
    margin-left: 1em;
}

.recherche {
    display: flex;
}

.contenu {
    margin: 2em 3em 0em;
}

.fil-dariane {
    list-style: none;
    display: flex;
    text-decoration: none;
    color: #656D7A;
    align-items: center;
    padding-left:0;
    margin-right: .6em;
}

.titre {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 900;
    font-size: 4.3em;
    margin-top:0;
    margin-bottom:0;
}

.texte {
    color: #656D7A;
    font-weight: 500;
}

.categories__list {
    list-style: none;
    display: flex;
    text-decoration: none;
    padding-left:0;
}

.categorie {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: .6em 1.4em .6em;
    margin-right: .5em;
    background-color: white;
    color: black;
}
.categorie:hover {
    background-color: black;
    color:white
}

.categorie:active {
    background-color: black;
    color:white
}

.categorie:focus {
    background-color: black;
    color:white
}

.barre_trie {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    
}

.filtre {
    background: transparent;
    border: none;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.16em;
}


.filtre_image {
    width: 1em;
    margin-right: .5em;
}

.liste-deroulante {
    padding: .6em 1.4em .6em;
    margin-left: .7em;
    border-color: #e1e3e7;
}

.liste-deroulante {
    padding-top: .5em;
}